body {
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.app-container {
  border: 1px solid silver;
  margin: auto;
}


/* Flex container has flex items children  */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-item {
  flex-direction: column;
  flex: 1; /* makes columns equal */
  padding: 1em;
  text-decoration: none;
  color: inherit;
}



.center {
  text-align: center;
}
